# Compiled class files
*.class

# Eclipse specific
.metadata
.project
.classpath
.settings/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA specific
.idea/
*.iml
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
